$primary: #59AC77;

.hero {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/assets/heroimg.jpg') center/cover no-repeat;
    min-height: 100vh;
    color: white;
}



.hover-nav {
    transition: transform 0.5s ease;
}

.hover-nav:hover {
    transform: scale(1.02);
}

body {
    overflow-x: hidden;
}

@import "node_modules/bootstrap/scss/bootstrap.scss";